
*{
font-family: 'Roboto',sans-serif;
background-color: #fff;
margin: 0;
padding: 0;
}
.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f3f2;
    position: fixed;
    height: 350px;
    overflow: auto;
}
/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.main {
    margin-left: 200px;
    padding: 1px 16px;
    height: auto;
}
.footer {
    width: 100%;
    height: 85px;
    background: brown;
    position: relative;
    
}
.footer >h6{
    
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
   
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}